<footer class="footer">
<h4>About Coronavirus Comms</h4>
<p>Listing articles and resources around crisis comms advice during the Coronavirus pandemic. Content sourced by Ben Matthews from <a href="https://empower.agency">empower</a>. Website built using <a href="https://twitter.com/@mxbck">@mxbck
's</a> <a href="https://mxb.dev/blog/emergency-website-kit/">emergency website starter kit</a>, so is a static website optimized for heavy traffic and maximum resilience.</p></br>
    
    {% if meta.contact.email %}
        <p>Submit a resource: <a href="mailto:{{ meta.contact.email }}">{{ meta.contact.email }}</a></p>
    {% endif %}
    {% if meta.contact.website %}
        <p>Get support: <a href="{{ meta.contact.website }}">{{ meta.contact.website }}</a></p>
    {% endif %}
</footer>
