<footer class="footer">
    {% if meta.contact.email %}
        <p>Submit resources: <a href="mailto:{{ meta.contact.email }}">{{ meta.contact.email }}</a></p>
    {% endif %}
    {% if meta.contact.website %}
        <p>Get support: <a href="{{ meta.contact.website }}">{{ meta.contact.website }}</a></p>
    {% endif %}
</footer>
