<ol class="postlist" reversed>
{% for post in collections.posts | reverse %}
    <li>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            ({{ post.source }})
        </time>
    </li>
{% endfor %}
</ol>
